* {
	box-sizing: border-box;
}

.container {
	columns: 3;
	margin: 0 auto;
	max-width: 1280px;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

.loadMoreButton {
	position: absolute;
	top: 0;
}

.card {
	break-inside: avoid;
	margin-bottom: 10px;
}
